@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F68C23;
  --secondary-color: #EFC625;
  --accent-color: #FF5348;
  --background-color: #FFFFFA;
  --dark-color: #791414;
  --grey-color: #4D4B4B
}

@font-face {
  font-family: "Avant Garde";
  font-weight: 400;

  src: url("/fonts/AvantGarde-regular.ttf") format('truetype');
}

@font-face {
  font-family: "Avant Garde";
  font-weight: 600;
  src: url("/fonts/AvantGarde-semibold.ttf") format('truetype');
}

@font-face {
  font-family: "Futura";
  font-weight: 400;
  src: url("/fonts/Futura-regular.ttf") format('truetype');
}

@keyframes shake {
 0% ,100% {
  transform: rotate(0deg);
 }
 25% {
  transform: rotate(10deg);
 }
 75% {
  transform: rotate(-10deg);
 }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.box-container {
  @apply max-w-[370px] mx-auto;
}

body {
  @apply bg-gradient-background text-dark h-screen w-screen;
}

h1 {
  @apply text-4xl font-semibold font-avant leading-[1.2];
}

h2 {
  @apply text-2xl font-semibold font-avant leading-[1.2];
}

h4 {
  @apply text-lg font-futura;
}

p {
  @apply text-base font-avant
}

.primary-button {
  @apply px-8 py-3 font-avant text-white rounded-[14px] active:scale-90 duration-100 transition-all hover:brightness-90;
}

.primary-button--primary {
  @apply bg-secondary;
}

.primary-button--accent {
  @apply bg-gradient-accent;
}

.link-button {
  @apply text-white font-avant underline active:scale-90 duration-100 transition-all hover:brightness-90;
}

.input {
  @apply px-3 py-4 bg-white rounded-[14px] flex items-center
}

.floating-icon-button {
  @apply bg-secondary shadow-md p-6 rounded-full absolute left-[50%] translate-x-[-50%] bottom-[-48px] active:scale-90 transition-all active:brightness-75 duration-100
}

.grid-box {
  @apply rounded-[14px] p-4 flex;
}

.info-page--accent {
  @apply w-screen h-screen flex items-center justify-center bg-gradient-accent flex-col
}